{% extends 'base.html.twig' %}

{% block title %}Liste des candidats{% endblock %}

{% block body %}
    <h1>Liste des candidats</h1>
    <a href="{{ path('app_back_candidate_new') }}" class="btn btn-primary">Créer un candidat</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Mot de passe</th>
                <th>Civilité</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Téléphone</th>
                <th>Adresse</th>
                <th>Code Postal</th>
                <th>Ville</th>
                <th>Présentation</th>
                <th>Date de création</th>
                <th>Date de mise à jour</th>
                <th>Date de naissance</th>
                <th>Avatar</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidate in candidates %}
            <tr>
                <td>{{ candidate.id }}</td>
                <td>{{ candidate.email }}</td>
                <td>{{ candidate.password }}</td>
                <td>{{ candidate.gender }}</td>
                <td>{{ candidate.firstname }}</td>
                <td>{{ candidate.lastname }}</td>
                <td>{{ candidate.phone }}</td>
                <td>{{ candidate.address }}</td>
                <td>{{ candidate.postalCode }}</td>
                <td>{{ candidate.city }}</td>
                <td>{{ candidate.presentation }}</td>
                <td>{{ candidate.createdAt ? candidate.createdAt|date('Y-m-d') : '' }}</td>
                <td>{{ candidate.updatedAt ? candidate.updatedAt|date('Y-m-d') : '' }}</td>
                <td>{{ candidate.birthday ? candidate.birthday|date('Y-m-d') : '' }}</td>
                <td>{{ candidate.avatar }}</td>
                <td>
                    
                    <a href="{{ path('app_back_candidate_show', {'id': candidate.id}) }}">Voir</a>
                    <a href="{{ path('app_back_candidate_edit', {'id': candidate.id}) }}">Modifier</a>
                
                </td>
                    
            </tr> 
        {% else %}
            <tr>
                <td colspan="17">Pas d'information enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
