{% extends 'base.html.twig' %}

{% block title %}Liste des offres{% endblock %}

{% block body %}
    <h1>Liste des offres</h1>
    <a href="{{ path('app_back_job_new') }}">Créer une offre</a>
    <table class="table">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>intitulé</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Durée (si inférieur à 10h)</th>
                <th>Nombre de poste à pourvoir</th>
                <th>Adresse</th>
                <th>Description</th>
                <th>Offre validée ?</th>
                <th>Date de création</th>
                <th>Date de mise à jour</th>
                <th>Date de publication</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.entitled }}</td>
                <td>{{ job.dateFrom ? job.dateFrom|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ job.dateTill ? job.dateTill|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ job.duration }}</td>
                <td>{{ job.nbVacancy }}</td>
                <td>{{ job.place }}</td>
                <td>{{ job.description }}</td>
                <td>{{ job.isValid ? 'Yes' : 'No' }}</td>
                <td>{{ job.createdAt ? job.createdAt|date('Y-m-d') : '' }}</td>
                <td>{{ job.updatedAt ? job.updatedAt|date('Y-m-d') : '' }}</td>
                <td>{{ job.publishedAt ? job.publishedAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_back_job_show', {'id': job.id}) }}">Voir l'offre</a>
                    <a href="{{ path('app_back_job_edit', {'id': job.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">Pas d'offre trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
