{% extends 'base.html.twig' %}

{% block title %}Liste des offres{% endblock %}

{% block body %}
    <h1>Liste des offres</h1>
    <a href="{{ path('app_back_job_new') }}">Créer une offre</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Entitled</th>
                <th>DateFrom</th>
                <th>DateTill</th>
                <th>Duration</th>
                <th>NbVacancy</th>
                <th>Place</th>
                <th>Description</th>
                <th>IsValid</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>PublishedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.entitled }}</td>
                <td>{{ job.dateFrom ? job.dateFrom|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ job.dateTill ? job.dateTill|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ job.duration }}</td>
                <td>{{ job.nbVacancy }}</td>
                <td>{{ job.place }}</td>
                <td>{{ job.description }}</td>
                <td>{{ job.isValid ? 'Yes' : 'No' }}</td>
                <td>{{ job.createdAt ? job.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ job.updatedAt ? job.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ job.publishedAt ? job.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_back_job_show', {'id': job.id}) }}">show</a>
                    <a href="{{ path('app_back_job_edit', {'id': job.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
