{% extends 'base.html.twig' %}

{% block title %}Boulots{% endblock %}

{% block body %}
    <h1>Les boulots</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Numéro</th>
                <td>{{ job.id }}</td>
            </tr>
            <tr>
                <th>intitulé</th>
                <td>{{ job.entitled }}</td>
            </tr>
            <tr>
                <th>Date de début de la mission</th>
                <td>{{ job.dateFrom ? job.dateFrom|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin de la mission</th>
                <td>{{ job.dateTill ? job.dateTill|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Durée (en h)</th>
                <td>{{ job.duration }}</td>
            </tr>
            <tr>
                <th>Nombre de postes à pourvoir</th>
                <td>{{ job.nbVacancy }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ job.place }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ job.description }}</td>
            </tr>
            <tr>
                <th>Offre validée ?</th>
                <td>{{ job.isValid ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ job.createdAt ? job.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de mise à jour</th>
                <td>{{ job.updatedAt ? job.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de publication</th>
                <td>{{ job.publishedAt ? job.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_job_index') }}">Retour à la liste</a>

    <a href="{{ path('app_back_job_edit', {'id': job.id}) }}">Modifier l'offre</a>

    {{ include('backoffice/job/_delete_form.html.twig') }}
{% endblock %}
